# Local config variables - EDIT AS NEEDED

# path to config file for cluster connection
export KUBECONFIG=

# path to oc CLI and current directory
export PATH=$PATH

#############################################################
# DO NOT CHANGE ANYTHING BELOW UNLESS OTHERWISE INSTRUCTED
#############################################################

# URL of cluster api
export LAB_CLUSTER=https://api.dapoc4.cyberarkdemo.com:6443

# URL of cluster console UI
export CONSOLE_URL=https://console-openshift-console.apps.dapoc4.cyberarkdemo.com

# DAP service parameters
export CONJUR_ACCOUNT=dev
export CONJUR_MASTER_HOSTNAME=ocp-lab-master.northcentralus.cloudapp.azure.com
export CYBERARK_NAMESPACE_NAME=cybrlab
export CLUSTER_AUTHN_ID=ocp4lab

export CONJUR_APPLIANCE_URL=https://$CONJUR_MASTER_HOSTNAME
export CONJUR_AUTHN_URL=https://conjur-follower.$CYBERARK_NAMESPACE_NAME.svc.cluster.local/api/authn-k8s/$CLUSTER_AUTHN_ID

# Public registries
export APP_IMAGE=jodyhuntatx/lab-app:latest
export AUTHENTICATOR_IMAGE=cyberark/conjur-authn-k8s-client:latest
export SECRETLESS_BROKER_IMAGE=cyberark/secretless-broker:latest
export SECRETS_PROVIDER_IMAGE=cyberark/secrets-provider-for-k8s:latest

# Secrets consumer role w/ read-only access to ACCOUNT_USERNAME and ACCOUNT_PASSWORD
export SECRETS_ACCESS_ROLE=LabVault/Labs/LabSafe1/delegation/consumers
export ACCOUNT_USERNAME=LabVault/Labs/LabSafe1/MySQL/username
export ACCOUNT_PASSWORD=LabVault/Labs/LabSafe1/MySQL/password

# Internal registry - not working reliably
export REGISTRY_URL=image-registry.openshift-image-registry.svc.cluster.local:5000
#export REGISTRY_URL=image-registry.openshift-image-registry.svc:5000
#export APP_IMAGE=$REGISTRY_URL/$CYBERARK_NAMESPACE_NAME/lab-app:latest
#export AUTHENTICATOR_IMAGE=$REGISTRY_URL/$CYBERARK_NAMESPACE_NAME/conjur-authn-k8s-client:latest
#export SECRETLESS_BROKER_IMAGE=$REGISTRY_URL/$CYBERARK_NAMESPACE_NAME/secretless-broker:latest
#export SECRETS_PROVIDER_IMAGE=$REGISTRY_URL/$CYBERARK_NAMESPACE_NAME/secrets-provider-for-k8s:latest
